<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<p>This is a social media button</p>
<%= link_to "Facebook", "https://www.facebook.com/joey.ricketts", class: "btn btn-defualt social-btn" %>
